body {
	font-family: "Open Sans", sans-serif;
	padding: 20px 60px;
}
@media only screen and (max-width: 560px) {
	body {
		padding-inline: 0.5rem;
	}
}
a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
